.page.--transfer {

  background-color: $color-light-blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
  height: calc(100vh - 32px);

  .content {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    z-index: 1;
    text-align: center;
    transform: translateY(-90px);

    h2 {
      margin-bottom: 48px;
    }
  }

  img {
    grid-area: 1 / 1 / 2 / 2;
    place-self: end;
    max-width: 700px;
    transform: translateY(30px);
  }

  .footer {
    background-color: $color-white;
  }

}
