h1 {
  @extend %text-xl;
  margin: 0;
  padding: 0;
  color: black
}

h2 {
  @extend %text-lg;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  @extend %text-md;
  margin-bottom: 16px;
}

ul {
  @extend %text-md;
  list-style: none;
  margin-top: 0;

  li {
    vertical-align: middle;

    &::before {
      content: "\2022";
      color: $color-blue;
      font-weight: bold;
      display: inline-block;
      font-size: 30px;
      width: 1em;
      line-height: normal;
    }
  }
}
