.button {
  @extend %text-sm;
  background-color: $color-blue;
  color: $color-white;
  border-radius: 38px;
  border: none;
  box-shadow: none;
  padding: 14px 32px;
  margin-top: 20px;
  min-height: 50px;
  font-weight: 500;

  &:active,
  &:focus,
  &:hover {
    background-color: $color-blue;
    color: $color-white;
    box-shadow: none;
  }

  &.--is-disabled {
    background-color: #5E91DB;
    pointer-events: none;
    box-shadow: none;
  }
}

.button-secondary {
  @extend .button;
  background-color: $color-white;
  color: $color-blue;
  border: 1px solid $color-blue;

  &:active,
  &:focus,
  &:hover {
    background-color: $color-white;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}

.modal {
  background-color: $color-white;
  padding: 32px 71px;
  text-align: center;
  border-radius: 10px;
  width: 48vw;
  max-width: 778px;
  box-sizing: border-box;

  p {
    @extend %text-xs;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.progress-bar {
  background-color: #E8F8FB;
  width: 100%;
  height: 16px;
  border-radius: 8px;
  margin: 23px 0 12px 0;

  &__progress {
    background-color: #5E91DB;
    border-radius: 8px;
    height: 16px;
    max-width: 100%;
  }

  &.--animated .progress-bar__progress {
    background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
      z-index: 1;
      background-size: 50px 50px;
      animation: move 2s linear infinite;
      overflow: hidden;
    }
  }
}

.text-disabled {
  color: $color-disabled;
}
