@import "config";

#wpwrap {
  display: flex;
  flex-direction: column;
  background: $color-light-blue !important;
}

#wpcontent {
  padding-left: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#wpbody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#wpbody-content {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bluehost-move {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;

  @import "elements";
  @import "helpers";
  @import "pages";
}
